*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 15px 25px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
}

h1{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
button{
    padding: 15px 20px;
    background-color: #198754;
    border-radius: 10px;
}
p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
button:hover{
    background-color: green;
}
.heart{
    color: green;
}
@media (max-width: 767.98px) {
    .div{
        padding: 15px 20px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    button{
        padding: 10px 10px;
    }
}
@media (max-width: 575.98px) {
    h1{
        letter-spacing: 0;
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    .fs-5{
        padding: 10px 10px;
        font-size: 15px !important;
    }
    .fs-6{
        font-size: 10px !important;
    }
}